<mat-toolbar color="primary">
    <span>Welcome to SMAN 1 Mejayan</span>
    <div class="uk-width-expand"></div>
    <button mat-button style="background-color: rgb(119, 188, 216)" routerLink="/login">Login/Register</button>
</mat-toolbar>
<span>
<div class="uk-flex uk-flex-middle uk-flex-center">
    <h1>WELCOME!!</h1>
</div>
</span>
<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
</mat-grid-list>