 <mat-card>
    <mat-card-header></mat-card-header>
    <mat-card-actions></mat-card-actions>
    <div class="uk-flex uk-flex-center uk-margin-medium-bottom">
        <mat-card-title >Kepala Sekolah SMAN 1 MEJAYAN</mat-card-title>
    </div> 
        <img mat-card-image src="https://lh3.googleusercontent.com/proxy/QXlGveRqlHb2Eked0DkGQL1wTB_3OJ2YL3ivFqsV4NCbofGoD-EAuXl70wqv0S9WGs6F5wWpsaX58GUvGNUYiF14rePgNaE9UOkVBP_sjMWHxCY_5mmXVg" width="100%">
        <mat-card-content style="font-size: large;">
          <p><span>
            Drs. Yayuk Sujanto, S.Pd, M.Pd.
          </span></p>
        </mat-card-content>
        <mat-card-content style="font-size: medium;">
            Drs. Yayuk Sujanto, S.Pd, M.Pd. adalah kepala sekolah sekaligus guru yang mengajar pelajaran PPKN di SMAN 1 MEJAYAN. Beliau merupakan alumni mahasiswa dari Unversitas Indonesia. Bapak Yayuk lahir di Kota Madiun pada tahun 1972. Sekarang beliau tinggal di jalan pahlawan nomor 25 Kota Madiun bersama dengan istri dan kedua anaknya. Sebelumnya beliau pernah menjadi kepala sekolah di SMAN 2 KOTA MADIUN sebelum akhirnya pindah ke Mejayan pada tahun 2018.
            Beliau mempunyai visi dan misi untuk meningkatkan prestasi yang telah diperoleh Sman 1 Mejayan sebelumnya. Bersama Sman 1 Mejayan bapak Yayuk akan terus meraih asanya dalam rangka meningkatkan kualitas pendidikan di Indonesia.
        </mat-card-content>
        <mat-card-actions></mat-card-actions>
</mat-card>
